<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Email</title>
</head>
<body>
    <section class="max-w-2xl px-6 py-8 mx-auto bg-white">
        <header>
            <a href="#">
                <img class="w-auto h-7 sm:h-8" src="https://www.quickgeo.mobi/assets/icons/icon.svg" alt="Icon QuickGeo">
            </a>
        </header>
    
        <main class="mt-8">
            <h2 class="text-gray-700">¡Hola {{ name }}!,</h2>
    
            <p class="mt-2 leading-loose text-gray-600">
                Estas son tus credenciales para acceder a QuickGeo:
            </p>
    
            <div class="w-fit px-5 py-2 border-green-700 rounded-md bg-green-600/25 m-auto flex flex-col items-center mt-4 gap-x-4">
                <p class="text-base font-semibold"><span class="font-bold">Email:</span> {{email}}</p>
                <p class="text-base font-semibold"><span class="font-bold">Password:</span> {{password}}</p>
            </div>
    
            <p class="mt-4 leading-loose text-gray-600  pb-5">
                Si te encuentras preparado para probar la geolocalizacion de QuickGeo puedes hacerlo dando click en el siguiente botón.
            </p>
            
            <a href="https://www.quickgeo.mobi/login" class="px-6 py-2 mt-6 text-sm font-medium tracking-wider text-white capitalize transition-colors duration-300 transform bg-green-600 rounded-lg hover:bg-green-500 focus:outline-none focus:ring focus:ring-green-300 focus:ring-opacity-80">
                Iniciar Sesión
            </a>
            
            <p class="mt-8 text-gray-600">
                Gracias, <br>
                QuickGeo Team
            </p>
        </main>
        <footer class="mt-8">
            <p class="text-gray-500">
                Este correo email fue enviado por <span class="text-green-600">contact&#64;quickgeo.mobi</span>. 
                Si prefieres no recibir este tipo de correo electrónico, puedes <a href="https://www.quickgeo.mobi/unsubscribe" class="text-green-600 hover:underline">darte de baja</a> o gestionar tus preferencias de correo.
            </p>
            <p class="mt-3 text-gray-500">© 2025 QuickGeo. Todos los derechos reservados.</p>
        </footer>
    </section>
</body>
</html>